a {
  text-decoration: none;
}
.main {
  margin-top: -550px;
}
.color {
  margin-top: 100px;
  margin-left: 450px;
  width: 700px;
  height: 500px;
  background-color: rgb(255, 250, 0);
  border: 2px solid black;
}
.main1 {
  font-size: 20px;
  margin-left: 500px;
  margin-top: 100px;
}
.main2 {
  font-family: cursive;
  margin-left: 750px;
  margin-top: -200px;
  margin-right: 400px;
}
.b1,
.b2,
.b3,
.b4 {
  border: 0px solid white;
  background-color: white;
  margin-right: 860px;
}
.b11 {
  border: 0px solid white;
  background-color: black;
  margin-left: 152px;
  margin-top: -170px;
  width: 35px;
  height: 23px;
}
.b12 {
  border: 0px solid white;
  background-color: black;
  margin-left: 152px;
  margin-top: 20px;
  width: 35px;
  height: 23px;
}
.b13 {
  border: 0px solid white;
  background-color: black;
  margin-left: 152px;
  margin-top: 19px;
  width: 35px;
  height: 23px;
}
.b14 {
  border: 0px solid white;
  background-color: black;
  margin-left: 152px;
  margin-top: 20px;
  width: 35px;
  height: 23px;
}

.style {
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  display: flex;
  margin-top: -7%;
}
